#fufy{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--screen);
    background-image: radial-gradient(#FBBDB9 50%, #BF3B86 );
}

.component3d{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 5px;
    
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    border-radius: 15px;
    padding: 30px;

    background-image: url('./pink-castle.png');
    background-size: cover;

    perspective: 1000px;
    transform-style: preserve-3d;
}

.component3d img{
    margin: auto;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #FBBDB9;
    outline: 1px solid white;
}

.layer {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}
  
/* Fundo (leve profundidade) */
.background {
    transform: translateZ(0px);
}
  
/* Camada intermediária */
.middle {
    transform: translateZ(0px);
}
  
/* Camada principal */
.foreground {
    transform: translateZ(0px);
}

/* Quando a div 3D está ativa, as imagens saltam */
.component3d .layer.active {
    transition: transform 0.8s ease;
}

.component3d .background.active {
    transform: scale(1.2) translateZ(10px);
    filter: drop-shadow(5px 5px 5px #fbbdb97e);
  }
  
  .component3d .middle.active {
    transform: scale(1.4) translateZ(40px);
    filter: drop-shadow(10px 10px 10px #fbbdb97e);
  }
  
  .component3d .foreground.active {
    transform: scale(1.6) translateZ(70px);
    filter: drop-shadow(15px 15px 15px #fbbdb97e);
  }

