.brasil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  padding: 20px;
  background-image: radial-gradient(#203F2F, #C9DC4B, #203F2F);
  width: 100%;
}

.brasil > p{
  color: white;
}

.mosaic-container {
    display: flex;
    margin-left: -10px;
    width: auto;
    max-width: 1000px;
  }
  
  .mosaic-column {
    padding-left: 10px;
    background-clip: padding-box;
  }
  
  .mosaic-item img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
  
  .clickable-img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .clickable-img:hover {
    transform: scale(1.05); 
  }
  