#music-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
  
  .musiccard {
    width: 70%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    color: white;
    border-radius: 20px;
  }

  .musiccard.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .poetry {
    background-color: rgba(0, 0, 0, 0.35);
    width: 50%;
    padding:  3px 6px;
    border-radius: 8px;
    text-align: left;
    font-size: 1.6em;
    font-family: Handwriting, Arial, Helvetica, sans-serif;
  }
  
  .song-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 50%;
    padding-left: 6px;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
  }

  
  @media (orientation: portrait){
    .poetry, .song-info{
      width: 80%;
    }
  }

  @media (max-width: 500px){
    #music-cards{
        width: 100%;
        padding: 0px;
    }
    .musiccard{
        width: 85%;
    }
  }
  