*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --screen: calc(100vh - 75px);
}

@font-face {
    font-family: ART;
    src: url(./public/fonts/RubikPuddles-Regular.ttf)format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Nome;
    src: url(./public/fonts/LoveLight-Regular.ttf)format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: Masonry;
  src: url(./publikc/fonts/Hanalei-Regular.ttf)format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Handwriting;
  src: url(./publikc/fonts/Caveat-VariableFont_wght.ttf)format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Medieval;
  src: url(./publikc/fonts/MedievalSharp-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Graffiti;
  src: url(./publikc/fonts/Nosifer-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: black;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid white;
  padding: 2vw;
}

.title{
  font-family: Art, sans-serif;
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.autor{
  position: relative;
  left: -20px;
  top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nome{
  font-family: Nome, sans-serif;
  font-size: 1.5em;
  box-sizing: border-box;
}

@media (max-width: 360px){
  .title{
    font-family: Art, sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
  }

  .autor{
    display: block;
    position: static;
    font-size: 0.5em;
  }
}