body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --screen: calc(100vh - 75px);
}

@font-face {
    font-family: ART;
    src: url(./assets/fonts/RubikPuddles-Regular.ttf)format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Nome;
    src: url(./assets/fonts/LoveLight-Regular.ttf)format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: Masonry;
  src: url(./assets/fonts/Hanalei-Regular.ttf)format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Handwriting;
  src: url(./assets/fonts/Caveat-VariableFont_wght.ttf)format('truetype');
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid white;
    padding: 2vw;
}

.title{
    font-family: Art, sans-serif;
    font-size: 3em;
    color: white;
    text-decoration: none;
}

.autor{
    position: relative;
    left: -20px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
    font-family: Nome, sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
}

main{
  background-color: #F7CD00;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

#sobre{
  background-color: #e6e6e6;
  width: 100%;
}  

#sobre > p{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  max-width: 1000px;
}

@media (max-width: 360px){
  .title{
    font-family: Art, sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
  }

  .autor{
    display: block;
    position: static;
    font-size: 0.5em;
  }
}